.course {
    box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.2);
    max-width: 18.75rem;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-bottom: 1.875rem;
    
  }
  .rate {
    color: grey;
    font-size: 1.25rem;
  }

  .text{
    color: rgb(8, 8, 8);
    font-size: 0.938rem;
    margin-bottom: 1.25rem;
    color: black;
  
  }

  .courses .q1{
    width: 100%;
    padding: 1.875rem 0rem;
    display: flex;
    
  }

  .courses .q2{
    width: 100%;
    padding: 1.875rem 0rem;
    display: flex;
  }


  .courses .q3{
    width: 100%;
    padding: 1.875rem 0rem;
    display: flex;
  }


  .courses .q4{
    width: 100%;
    padding: 1.875rem 0rem;
    display: flex;
  }
  ::-webkit-scrollbar {
    width: 0.625rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  
  
      .title{
        text-align:center;
        margin-top: 1.875rem;
        color:140b49;

        
      }

     .card{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #008CBA;
      }
     
 .cardtext{
   color: white;
  font-size: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
      

.container:hover .card {
    opacity: 1;
  }

 
  .container {
    position: relative;
    
  }

  .course-img{
    display: block;
    width: 100%;
  }


footer{
    background: #140b49;
    padding: 1.875rem 0;
    min-height: 0.063rem;
    height: auto;
    display: flex;
    flex-direction: row;
  }
   
  .footer-container{
    margin-right: 50%;
    max-width: 81.25rem;
    padding: 0 0.938rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #f1eeee;
  }
  
  .left-col { /* Add this class for styling the left column */
    text-align: left; /* Align text to the left */
    flex: 1; /* Take up available space on the left */
  }
  
  .footer-container h1{
    font-size:  1.625rem;
    text-align: left;
  }
  
  .footer-container p{
    width: 190px;
    margin: auto;
    padding: 7px;
    text-align: left;
  }
  
  
  .right-col h1{
    font-size: 1.625rem;
  }
   
  
   
  @media screen and (max-width:960px) {
    .footer-container{
      max-width: 37.5rem;
    }
    .right-col{
      width: 100%;
      margin-bottom: 3.75rem;
    }
  
  
    .left-col{
        width: 100%;
        text-align: left;
      }
    }









  .breadcrumb {

    margin-left: 10px; 
    color: #ececef;
    background-color: #fff ;
    background-size: cover;
   padding: 0 0;
   margin-top: 100px;
   margin-bottom: 10px;
   margin-left: 100px;
   font-size: 15px;
          
   }
   .breadcrumb a{
     color: #232a74 ;
   }
   
   .breadcrumb a:hover {
     text-decoration: underline;
     color: #727373;
   }
   
   .breadcrumb .separator {
     margin: 0 5px;
     color: #676666;
   }
