

        .rate {
            float: left;
            height: 2.875rem;
            padding: 0 0.625;
        }
        .rate:not(:checked) > input {
            position:absolute;
            top:-624.938rem;
        }
        .rate:not(:checked) > label {
            float:right;
            width:1em;
            overflow:hidden;
            white-space:nowrap;
            cursor:pointer;
            font-size:1.875rem;
            color:#ccc;
        }
        .rate:not(:checked) > label:before {
            content: '★ ';
        }
        .rate > input:checked ~ label {
            color: #ffc700;    
        }
        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;  
        }
        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
        }
        #rating {
        display: flex;
        flex-direction: row; 
        }
        #feedback{
        display: flex;
        flex-direction: row; 
        }
        textarea{
            min-height: 8em;
            min-width:50%;
            padding: 0.5em;
            border:1px solid black;
            background-color:#E5F1FA ;
            margin-top:1.5em;
            }
            fieldset{
                background-color: white;
                padding: 20px;
                margin: 0 auto;
                max-width: 80%;
                margin-bottom: 1em;
                padding: 1em;
                box-shadow: 0 0 0.938rem lightgray;
                border:4em;
               
            }
            input{
            padding: 0.5em;
            border:solid 0.063rem;
            }
            #rating #feedback{
                text-align: left;
                }
             .course-list h2 {
                text-align: center;
                text-decoration-color: #140b49;
             } 
        
            