* {
    padding: 0;
    margin: 0;
    box-sizing: border-box}
  
  #Register{
      text-align: center;
      color: #04364A;
  }
  
  /* Add padding to containers */
  .container {
    
    background-color: #f8f5f5;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 900px;
    margin-left: 25%;
    margin-bottom: 200px;

  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 1.8%;
    margin: 0.1% 0 2% 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #166B87;
    margin-bottom: 2%;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #166B87;
    color: white;
    padding: 2% 5%;
    margin: 0.1% 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: medium;
  }
  .breadcrumb {
    color: #ececef;
    background-color: #fff ;
    background-size: cover;
    padding: 0 0;
    margin-bottom: 10px;
    font-size: 15px;
   }

   .breadcrumb a{
     color: #232a74 ;
   }
   
   .breadcrumb a:hover {
     text-decoration: underline;
     color: #727373;
   }
   
   .breadcrumb .separator {
     margin: 0 5px;
     color: #676666;
   }
  .registerbtn:hover {
    opacity:1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */

  /* The Gender */
  .Gender {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .Gender input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .Gender:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .Gender input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .Gender input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .Gender .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  /* Styles for the header/navbar */

/*header , footer*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  /* Styles for the header/navbar */
  header {
    background-color: #140b49;
    padding: 0 0;
    justify-content: space-between;
    
  }
  
  .logo1 {
    display: flex;
    align-items: center; /* Vertically align the logo with the nav links */
  }
  
  .logo1 img {
    max-width: 100px; /* Adjust the max-width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Add margin for spacing */
  }
  
  header .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center; 
    text-align: center;
    position: absolute;
    bottom: 780px;
    left: 600px;
  }
  
  header .nav-links li {
    display: inline;
    margin-right: 20px;
  }
  
  header .nav-links li:last-child {
    margin-right: 0;
  }
  
  header .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }
  
  .search-bar {
    display: inline-flex;
    margin-left: 10px; 
    position: absolute;
  bottom: 780px;
  right: 16px;
  
  
  }
  
  .search-bar input {
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  
  .search-bar button {
    background-color: #8a85bc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  
  /* Styles for the banner */
  .banner {
    background-image: url(image/b96c2f6e-ae02-4985-ac4f-5ac944802c1b.jpeg);
    color: #fff;
    padding: 80px;
    text-align: center;
    margin-bottom: 10%;
    max-width: 100%;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
  
  
  }
  .banner h1{
    text-align: left;
  }
  
  .banner h2, .banner p{
    font-style: italic;
    text-align: justify;
    font-size: 20px;
    
  }

  .breadcrumb {

    margin-left: 10px; 
    color: #ececef;
    background-color: #fff ;
    background-size: cover;
   padding: 0 0;
   margin-top: 100px;
   margin-bottom: 10px;
   margin-left: 100px;
   font-size: 15px;
          
   }
   .breadcrumb a{
     color: #232a74 ;
   }
   
   .breadcrumb a:hover {
     text-decoration: underline;
     color: #727373;
   }
   
   .breadcrumb .separator {
     margin: 0 5px;
     
     color: #676666;
   }
   footer{
    background: #140b49;
    padding: 1.875rem 0;
    min-height: 0.063rem;
    height: auto;
    display: flex;
    flex-direction: row;
  }
   
  .footer-container{
    margin-right: 50%;
    max-width: 81.25rem;
    padding: 0 0.938rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #f1eeee;
  }
  
  .left-col { /* Add this class for styling the left column */
    text-align: left; /* Align text to the left */
    flex: 1; /* Take up available space on the left */
  }
  
  .footer-container h1{
    font-size:  1.625rem;
    text-align: left;
  }
  
  .footer-container p{
    width: 190px;
    margin: auto;
    padding: 7px;
    text-align: left;
  }
  
  
  .right-col h1{
    font-size: 1.625rem;
  }
   
  
   
  @media screen and (max-width:960px) {
    .footer-container{
      max-width: 37.5rem;
    }
    .right-col{
      width: 100%;
      margin-bottom: 3.75rem;
    }
  
  
    .left-col{
        width: 100%;
        text-align: left;
      }
    } 
