
h3{
    text-align: center;
    font-size: 1.5rem;
}

table, th, td {
     border: 0.2px solid;
    }

table{
    width:90% ; 
    height: auto;
}

table{
     margin-left: auto;
      margin-right: auto;
    }

td,th{
    text-align: center;
}

td {
    background-color: white;
}

th{
    background-color:#8a85bc;
    color: #fff;
}

tbody td.c{
    background-color:#777a83; 
}


.Schedule1{
    padding-top: 3%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
