
 .thePage
{
	 display : flex ;
	 flex-direction : column ; 
	 justify-content : center ;
	 text-align : center ;

} 


.kidsName {
	display: flex ;
    flex-direction : row ; 
	justify-content : space-between ;
	overflow : auto ;
	border : .2rem solid #140b49 ;


}

.kids 
 { 

 text-align : center ;
 margin : 5% 5% ;
     color: #64CCC5 ;


}

.kids img {
	width : 150px ;
	height : 150px ; 
	border : .1rem solid #140b49; ;

}


.tutor {
    	justify-content :center ;
	border : .2rem solid #140b49 ;
    	 text-align : center ;

}

.tutorlist{
	justify-content :center ;
    color: #64CCC5 ;
    text-align : center ;
    padding: 0% 5% 0% 30%;

}
 .courses {

	justify-content :center ;
	border : .2rem solid #140b49 ;
    display: flex ;
    overflow : auto ;
        color: #64CCC5 ;

}
.KidRegister { text-align : right  ;}
pre ul li {
	  text-align : center ;
          color: #64CCC5 ;


}

ul li {
	  text-align :justify ;
}

.KidRegister ul li {list-style-position:none;
	margin : 0% 0% 0% 80% ;
    display : flex ;
	flex-direction : row ; 
        color: #64CCC5 ;

}
.kid2 {list-style-position:none;
	margin : 0% 0% 0% 80% ;
 display : flex ;
	 flex-direction : column ;
    color: #64CCC5 ;
}

